// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #5D8BB4;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #E9EBF8;

// personnal colors
$yellow: #FFC65A;
$orange: #C45825;
$white: #FAFAFA;
$black: #111111;
