// Specific CSS for your home-page
.title-home {
  margin: 64px auto;
}

.accueil p {
  margin-bottom: 64px;
}

.img-about {
  object-fit: cover;
}


@media screen and (min-width: 568px) {
  .hostel-mosaic {
    height: 36vh;
  }

  .hostel-mosaic-right {
    height: 100%;
    img {
      height: 50%;
    }
  }

  .text-hostel {
    height: 36vh;
  }
}
