<div id="home-footer">
  <div class="container d-flex justify-content-between">
    <div class="politique">
      <%= link_to politique_path do  %>
        <p class="m-0 py-2"><%= t('reservation_policy.small_title') %></p>
      <% end %>
    </div>
    <div class="mention">
      <%= link_to mentions_path do %>
        <p class="m-0 py-2"><%= t('legal_mentions.title') %></p>
      <% end %>
    </div>
  </div>
</div>
