<div id="home-footer">
  <div class="container d-flex justify-content-between">
    <div class="politique">
      <%= link_to politique_path do  %>
        <p class="m-0 py-2">Politique de réservation</p>
      <% end %>
    </div>
    <div class="mention">
      <%= link_to mentions_path do %>
        <p class="m-0 py-2">Mentions légales</p>
      <% end %>
    </div>
  </div>
</div>
