<div class="container pt-2">
  <h1 class="text-center py-5">Mentions Légales</h1>
  <div>
    <p>SARL UTOPY HOSTEL</p>
    <p>27 ave de Migron Bat E 64200 BIARRITZ</p>
    <p>0749198463</p>
    <p>utopy.hostel@gmail.com</p>
    <p>Capital social: 1000€</p>
  </div>
  <div>
    <h3>Site Hébergeur</h3>
    <p>
      (celles de wix donc à mettre à jour avec nouvel hébergeur..)
      Wix
      Wix Online Platform Limited
      Adresse : 1 Grant's Row, Dublin 2 D02HX96, Ireland.
      Téléphone : Veuillez cliquer ici.
      Webmaster:
      Activité
      Immatriculation: 902170067 RCS BAYONNE
      Numéro individuel d'identification fiscale: 3024613808209
      Conditions générales de vente (CGV)
    </p>
  </div>

  <div>
    <h3>Activité</h3>

    <p>Immatriculation: 902170067 RCS BAYONNE</p>
    <p>Numéro individuel d'identification fiscale: 3024613808209</p>
    <p>Conditions générales de vente (CGV)</p>
  </div>

  <div>
    <h3>L'utilisation de cookies</h3>

    <p>Un cookie est un outil informatique qui permet de tracer et d'analyser le comportement d'un usager sur internet (sa navigation sur internet, sur un site, dans une application, etc.).
    Les cookies soumis au consentement des internautes sont ceux ayant pour but de personnaliser les publicités et ceux liés aux réseaux sociaux.
    Vous pouvez bloquer les cookies en modifiant les paramètres de votre navigateur.
    Si vous ne souhaitez plus que nous traitions vos données, veuillez nous contacter à utopy.hostel@gmail.com.
    Si vous les acceptez, votre consentement est enregistré pendant 13 mois maximum.</p>
  </div>

  <div>
    <h3>Politique de confidentialité</h3>
    <p>Nous recevons, collectons et stockons toute information que vous saisissez sur notre site web ou que vous nous fournissez de toute autre manière. En outre, nous recueillons l'adresse de protocole Internet (IP) utilisée pour connecter votre ordinateur à l'Internet ; le login ; l'adresse e-mail ; le mot de passe ; les informations sur l'ordinateur et la connexion et l'historique des achats. Nous pouvons utiliser des outils logiciels pour mesurer et collecter des informations de session, y compris les temps de réponse des pages, la durée des visites sur certaines pages, les informations sur l'interaction entre les pages et les méthodes utilisées pour naviguer hors de la page. Nous recueillons également des informations d'identification personnelle (y compris le nom, l'adresse électronique, les communications) ; les détails de paiement (y compris les informations de carte de crédit), les commentaires, les réactions, les évaluations de produits, les recommandations et le profil personnel.
    Lorsque vous effectuez une transaction sur notre site web, dans le cadre du processus, nous recueillons les informations personnelles que vous nous donnez, telles que votre nom, votre adresse et votre adresse e-mail. Vos informations personnelles ne seront utilisées que pour les raisons spécifiques mentionnées ci-dessus.
    Nous recueillons ces informations non personnelles et personnelles aux fins suivantes :</p>
    <ul>
      <li>Fournir et exploiter les services ;</li>
      <li>Fournir à nos utilisateurs une Assistance et un support technique permanents ;</li>
      <li>Pouvoir contacter nos visiteurs et utilisateurs avec des avis généraux ou personnalisés relatifs au service et des messages promotionnels ;</li>
      <li>Pour créer des données statistiques agrégées et d'autres informations non personnelles agrégées et/ou déduites, que nous ou nos partenaires commerciaux pouvons utiliser pour fournir et améliorer nos services respectifs ;</li>
      <li>Se conformer aux lois et règlements applicables.</li>
    </ul>
    <p>Notre entreprise est hébergée sur la plateforme Wix.com. Wix.com nous fournit la plateforme en ligne qui nous permet de vous vendre nos produits et services. Vos données peuvent être stockées par le biais du stockage de données, des bases de données et des applications générales de Wix.com. Elles stockent vos données sur des serveurs sécurisés derrière un pare-feu.</p>

    <p>Toutes les passerelles de paiement direct proposées par Wix.com et utilisées par notre entreprise respectent les normes établies par PCI-DSS, telles que gérées par le PCI Security Standards Council, qui est un effort conjoint de marques comme Visa, MasterCard, American Express et Discover. Les exigences PCI-DSS contribuent à garantir le traitement sécurisé des informations relatives aux cartes de crédit par notre magasin et ses fournisseurs de services.</p>
    <p>Nous pouvons vous contacter pour vous informer sur votre compte, pour résoudre des problèmes avec votre compte, pour résoudre un litige, pour collecter des frais ou des sommes dues, pour sonder votre opinion par le biais d'enquêtes ou de questionnaires, pour envoyer des mises à jour sur notre société, ou si nécessaire pour vous contacter afin de faire respecter notre contrat d'utilisation, les lois nationales applicables, et tout accord que nous pourrions avoir avec vous. À ces fins, nous pouvons vous contacter par courrier électronique, téléphone, messages textuels et courrier postal.</p>
  </div>

  <div>
    <h3>Mises à jour de la politique de confidentialité</h3>
    <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment, aussi nous vous invitons à la consulter fréquemment. Les modifications et les clarifications prendront effet dès leur publication sur le site web. Si nous apportons des modifications importantes à la présente politique, nous vous informerons ici de sa mise à jour, afin que vous sachiez quelles informations nous recueillons, comment nous les utilisons et dans quelles circonstances, le cas échéant, nous les utilisons et/ou les divulguons.</p>
    <p>Si vous ne souhaitez plus que nous traitions vos données, veuillez nous contacter à utopy.hostel@gmail.com.</p>
  </div>

</div>
