<div class="container pt-2">
  <h1 class="text-center py-5">POLITIQUE DE RESERVATION</h1>

  <p>Toute demande de réservation entraîne l’adhésion aux présentes conditions de vente et l’acceptation complète et sans réserve de leurs dispositions.</p>


  <h3>Prix:</h3>
  <ul>
    <li>
      Au prix mentionné dans la réservation seront ajoutées lors de la facturation, les prestations complémentaires fournies par Utopy hostel lors du séjour.
    </li>
    <li>
      Les prix sont indiqués en Euros. La TVA et la taxe de séjour est toujours comprise. Les prix indiqués ne comprennent que les prestations strictement mentionnées dans la réservation.
    </li>
  </ul>

  <h3>
    Conditions de réservation:
  </h3>

  <p>Les réservations se font :</p>

  <ul>
    <li>
      par téléphone au +33749198463
    </li>
    <li>
      sur le site internet utopyhostel.com
    </li>
    <li>
      via les plateformes de réservation en ligne (booking, airbnb)
    </li>
  </ul>

  <p>Le montant total sera demandé afin de garantir la réservation uniquement par carte bancaire.</p>

  <ul>
    <li>
      Le client doit être le propriétaire de la carte de crédit utilisée pour effectuer la réservation.
    </li>
    <li>
      La réservation n’est ferme et définitive qu’après réception d’un mail de confirmation adressée au client.
    </li>
    <li>
      Pour toute privatisation ou réservation de groupe, nous contacter au 0749198463
    </li>
  </ul>

  <h3>Conditions d’annulation ou de modification:</h3>
  <ul>
    <li>Le délai d’annulation sans frais est de : 5 jours avant la date d’arrivée.
    En dehors de ce délai,  le montant total du séjour sera conservé par l’hostel.</li>

    <li>En cas de non-présentation et en l’absence d’annulation, le montant total de la réservation sera prélevé. Le personnel sera également libre de louer le lit à d’autres locataires.</li>

    <li>En cas de séjour écourté, l’intégralité du séjour sera due (hors cas de force majeure).</li>

    <li>Les retards à l’arrivée ou les départs anticipés ne peuvent en aucun cas donner lieu à un remboursement. Les problèmes de transport (vols, trains, Uber, etc.) restent à la charge du locataire et ne constituent pas un motif suffisant pour obtenir un remboursement de la réservation.</li>

    <li>Pour annuler une réservation, le client est invité à prendre contact directement avec Utopy Hostel au +33 (0)749198463 ou en envoyant un email à utopy.hostel@gmail.com</li>

    <li>L’annulation de la réservation est effective à réception d’un e-mail confirmant celle-ci. La date de réception de la demande d’annulation (par email ou téléphone) sera la date retenue pour l’annulation.</li>
  </ul>

  <h3>​Conditions d’annulation ou de modification pour les privatisations:</h3>

  <p>Le délai d’annulation sans frais est de 15 jours avant la date d’arrivée
  ​ En dehors de ces délais, le montant total du séjour sera conservé par l’hostel.</p>


  <h3>Utilisation</h3>

  <p>Heure d'arrivée 13h00</p>
  <p>Heure de départ 11h00</p>

  <ul>
    <li>Le personnel veillera à ce que la propriété soit rendue disponible dans un état correspondant à sa description.</li>

    <li>Le locataire a le droit d’occuper la maison de manière pacifique et ordonnée. Au moment du départ, le locataire s’engage à laisser la propriété dans le même état de propreté qu’il l’a trouvé à l’arrivée. Tous les agencements, installations et le mobilier de l’inventaire doivent être laissés au même endroit où le locataire les a trouvés à l’arrivée. Toute réparation des installations résultant d’une négligence de la part du locataire sera à la charge de celui-ci.</li>

    <li>En aucun cas le locataire ne peut sous-louer le bien, même gratuitement. Cela rendrait le contrat de location nul et non avenu.</li>

    <li>Le locataire ne peut en aucun cas rester dans la propriété ou camper autour de la propriété après l’expiration de la période de location, sans l’autorisation du personnel. Aucune modification ne peut être apportée à ce contrat sans l’accord des deux partis.</li>

    <li>L’arrivée se fait de manière autonome via mail, le locataire peut se rendre dans la chambre, et son accueil est assuré.</li>

    <li>L’heure de départ est, au plus tard, à 11h du matin le jour du départ.</li>

    <li>Le nombre de locataires ne peut excéder le nombre indiqué sur le formulaire de réservation.</li>

    <li>Tout extra devra être réglé à la réception avant utilisation du service.</li>

    <li>L’établissement Utopy hostel n’est pas adapté aux familles avec enfants et n’est pas accessible aux mineurs.</li>

    <li>Le personnel se réserve le droit d’annuler le contrat de location à tout moment en cas de comportement irrespectueux contre les règles de l’hostel, le personnel ou d’autres locataires.</li>

    <li>Pour votre sécurité, les hostels sont sous vidéo de surveillance.</li>

    <li>La présence d’animaux dans la maison n'est pas autorisée. Tout locataire qui ne respecte pas cette règle annule son contrat de location.</li>
  </ul>

  <h3>Assurance</h3>

  <p>Utopy hostel n’assume aucune responsabilité pour le vol, la perte ou l’endommagement d’objets personnels des locataires.</p>

  <h3>Force majeure</h3>

  <p>Utopy hostel ne pourra être tenu responsable à l’égard de ses clients en cas d’inexécution de ses obligations pour événement de force majeure. Sont considérés comme cas de force majeure ou cas fortuit ceux habituellement reconnus par la jurisprudence des Cours et Tribunaux Français.</p>




  <h3>Informatique et Libertés</h3>
  <ul>
    <li>En application de la loi L.78-17 du 6 janvier 1978, le client est informé que les informations à caractère nominatif communiquées à Utopy hostel font l’objet d’un traitement informatisé, sauf opposition expresse de sa part.</li>

    <li>Le client dispose à tout moment d’un droit d’accès, de rectification ou de suppression auprès d’Utopy hostel.</li>

    <li>Les informations qui vous sont demandées lors de la réservation sont indispensables pour le bon traitement de votre demande. Ces informations ont pour seul destinataire Utopy hostel. Utopy hostel s’engage à ne communiquer à aucun tiers les informations que vous lui aurez confiées.</li>
  </ul>

  <h3>Droit applicable</h3>

  <p>Tout différend, toute réclamation ou tout litige relatif aux modalités de réservation d’un séjour sont soumis au droit français. Seul le Tribunal d’Instance de Bayonne sera compétent.</p>

</div>
