<div style="width: 90%; margin: auto;">
  <%= image_tag "coast_email.png", style:"width: 100%;" %>
  <h1><%= @name %> sent a message:</h1>
  <p style="font-size:20px;">"<%= @message %>"</p>
  <p>email: <%= @email %></p>
</div>
