
@media screen and (min-width: 568px) {
  .banner-show {
    position: sticky;
    top: 0;
  }

  #booking-desktop {
    min-height: 48vh;
    max-height: fit-content;
    background-color: $white;
    position: fixed;
    position: -webkit-sticky;
    bottom: 15px;
    padding: 12px 8px 4px 8px;
    width: 252.83px;
  }

  .flatpickr-calendar {
    transform: scale(0.9);
  }

  .col45 {
    flex: 0 0 auto;
    width: 49%;
  }

  .inputs-right {
    margin: 0 auto;
  }

  .booking_number_of_beds select {
    width: 100%!important;
  }

  .price-tag {
    border: 1px solid $gray;
    border-radius: 4px;
    padding: 1rem
  }


  .simple_form.new_booking {
    height: 100%;
    min-height: 48vh;
  }

  .book-btn-modal {
    margin-bottom: 8px;
  }

  .booking_start_date {
    max-width: 25vw;
  }

  .simple_form.new_contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 46vh;
  }

  .top-form {
    margin-top: 2rem;
    width: 90%;
    margin: auto;
  }

  .contact_first_name, .contact_birthdate, .contact_last_name, .contact_email, .contact_phone, .contact_country {
    width: 45%;
  }

}

@media screen and (min-width: 768px) {
  #booking-desktop {
    width: 341.03px;
  }
}

@media screen and (min-width: 992px) {
  #booking-desktop {
    width: 458.63px;
  }
}

@media screen and (min-width: 1200px) {
  #booking-desktop {
    width: 635.03px;
  }
}
