
@media screen and (min-width: 568px) {
  .banner-show {
    position: sticky;
    top: 0;
  }

  #booking-desktop {
    height: 49vh;
    background-color: $white;
    position: sticky;
    top: 50vh;
  }

  .col45 {
    flex: 0 0 auto;
    width: 49%;
  }

  .inputs-right {
    margin: 0 auto;
  }

  .booking_number_of_beds select {
    width: 100%!important;
  }

  .price-tag {
    border: 1px solid $gray;
    border-radius: 4px;
    padding: 1rem
  }

  .simple_form.new_booking {
    height: 100%;
  }

  .book-btn-modal {
    margin-bottom: 8px;
  }

  .booking_start_date {
    max-width: 25vw;
  }

  .simple_form.new_contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .top-form {
    margin-top: 2rem;
    width: 80%;
    margin: auto;
  }
}
