#footer {
  width: 100vw;
  padding: 14px 0;
  background-color: $white;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(0,0,0,0.8);
   h3 {
    margin-bottom: 0;
   }
}

.book-btn-show {
  cursor: pointer;
  h3 {
    text-align: center;
    width: 40vw;
    background-color: $orange;
    padding: 8px;
    color: $white;
    margin: auto;
  }
}

@media screen and (min-width: 568px) {
  #footer {
    display: none;
  }
}
